<template>
  <div class="container">
        <div class="head">
                <div class="col">
                  <logo />
                </div>
        </div>
        <div class="row">
                <div class="col-sm">
                    Первая колонка
                </div>
                <div class="col-sm">
                  Вторая колонка
                </div>
                <div class="col-sm">
                      Таймер обратного отсчета <br />
                      <CountdownCard
                        :event=      "{
                                        title: 'Австралия',
                                        date: '22 марта 2021',
                                        arrDate: new Date('2021-03-22'),
                                        emoji: '🇦🇺',
                                        type: 'season',
                                        year: 2022,
                                        month: 3,
                                        day: 21,
                                        hour: 18,
                                        minute: 30
                                      }"
                      />
                </div>
        </div>
        <div class="foot">
            <div class="col-sm">
                 FOOTER
            </div>
        </div>
  </div>
</template>

<script>
import Logo from '../components/Logo.vue'
import CountdownCard from '../components/CountdownCard'

export default {
  components: {
       Logo,
       CountdownCard
   },
  async asyncData ({ $http }) {
    const test = await $http.$get('/api/test')
    return {
      test
    }
  }
}
</script>

<style scoped>

.container {
  text-align: center;
  background-image: url(/pics/back.jpg);
  margin: 0 auto;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
}
.head{
  text-align: center;
}
.row{
  display: flex;
  width: 100%;
  left: 0;
}
.footer{
  display: flex;
}
</style>
